@import url('http://fonts.cdnfonts.com/css/poetsen-one');
@import url('https://fonts.cdnfonts.com/css/laila');
*{
    margin: 0;
    padding: 0;
}
body{
    color: #7c8492;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: 'Laila', sans-serif;
}
p{
    margin: 0;
}
a {
    color: #2c3a80;
    outline: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: #203656;
}
.nav-link{
    font-size: 20px;
    color: #2c3a80 !important;
}
a:focus {
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #010f4b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 1.4;
}
.navbar-brand h1{
    font-family: 'Poetsen One', sans-serif;
    font-size: 25px;
}
img{
    object-fit: cover;
    max-width: 100%;
}
.w-social{
    font-size: 20px;
}
.w-social-con{
    display: none;
}
.user-contain{
    /* border: 1px black solid; */
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.user-info{
    padding: 15px;
    /* border: 1px solid black; */
    width: 500px;
}
.dp-image{
    width: 150px;
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 992px){
    .user-contain{
        width: 90%;
    }
    .dp-image{
        width: 210px;
        height: 150px;
    }
    .user-info{
        width: 400px;
    }
}
@media only screen and (max-width: 1200px){
    .user-contain{
        width: 70%;
    }
}
@media only screen and (max-width: 700px){
.user-contain{
    width: 100%;
    flex-wrap: wrap;
}
.user-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp-image{
    width: 50%;
    height: 160px;
}
.user-info{
    width: 100%;
    text-align: center;
}
.w-social-con{
    display: block;
}
}
.ipost-img{
    width: 100%;
    height: 170px;
    /* border-radius: 6px; */
}
.ipost-img:hover{
    animation: p-img-animation 1s forwards;
}
.post-cat a{
    /* background-color: #4b51fd; */
    color: #060ba0;
    padding: 4px;
    border-radius: 10px;
    font-size: 13px;
}
@keyframes p-img-animation {
    from{transform: rotate(1deg);}
    to{transform: rotate(-1deg);}
}
/* footer styling */

footer {
    margin-top: 50px;
}

footer .footer-inner {
    border-top: 1px solid var(--primary-color);
    padding: 40px 0;
}

footer .footer-inner .copyright {
    color: #9faabb;
}

#return-to-top {
    color: #8f9bad;
    font-size: 13px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    border-radius: 25px;
    padding: 6px 20px;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

#return-to-top i {
    font-size: 11px;
    vertical-align: middle;
    margin-right: 10px;
}

#return-to-top:hover {
    color: #335fbe;
    border-color: #335fbe;
}

/* *********** responsiveness **************** */

@media only screen and (max-width: 992px) {
    .inner-wrapper-sticky {
        transform: none !important;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .footer-inner {
        text-align: center;
    }
}