@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/poetsen-one');
@import url('https://fonts.cdnfonts.com/css/laila');

                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Laila', sans-serif;                                               
}
h1, h2, h3, h4, h5, h6{
    color: #2c3a80;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
body{
    background-color: #f4f6f9;
    /* font-family: 'Roboto', sans-serif; */
}
.navbar-brand{
    font-family: 'Poetsen One', sans-serif;
    font-size: 25px;
}
.card{
    border-radius: 0;
}
/* .btn{
    border-radius: 0;
} */
.btn-default {
    color: #f4f6f9;
    background-color: #474dfd;
}
.btn-outline-primary{
    border-color:#6e72fc;
    color: #6e72fc;
}
.btn-outline-light{
    border-color:#fff;
    color: #fff;
}
.btn-success{
    background-color: #3bb75e;
    border-color: #3bb75e;
}
.btn-outline-danger{
    border-color:#dc3545;
    color: #dc3545;
}
.btn-default:hover {
    color: #f4f6f9;
    background: #2229f8;
}
p{
    color: #535353;
}
a{
    color: #1c3c81;
}
.dp-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar{
    padding: 0;
}
.navbar-light{
    border-bottom: 1px #d1d1d1 solid;
    background-color: #fff;
}
.nav-link{
    margin-right: 15px;
    padding: 15px;
}
.nav-one{
    background-color: #343a40;
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1040;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    visibility: hidden;
    background: rgba(255,255,255,0.95);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
button {
    transition: all 0.3s ease-in-out;
}
button:focus {
    outline: none;
    box-shadow: none !important;
}
.navbar-nav .active{
    color: #335fbe !important;
    border-bottom: 2px solid #335fbe;
}
.nav-close{
    right: 35px;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.u-name-two{
    display: none;
}
.u-name-one, .u-name-two{
    font-weight: bolder !important;
}
     /* Style the tab */
     .tab {
        overflow: hidden;
        border-bottom: 1px solid #dee2e6;
        background-color: #fff;
      }
      
      /* Style the buttons that are used to open the tab content */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
        transition: 0.3s;
        font-size: 15px;
      }
      
      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #d8d8d8;
      }
      
      /* Create an active/current tablink class */
      .tab button.active-tab {
        color: #335fbe;
        border-bottom: 2px solid #335fbe;
      }
      
      /* Style the tab content */
      .tabcontent {
        display: none;
        padding: 1px;
      }
      
      .tabcontent {
        animation: fadeEffect 1s; /* Fading effect takes 1 second */
      }
      
      /* Go from zero to full opacity */
      @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
      }
footer {
    margin-top: 50px;
}
footer .footer-inner {
    border-top: 1px solid var(--primary-color);
    padding: 40px 0;
}
footer .footer-inner .copyright {
    color: #9faabb;
}

#return-to-top {
    color: #8f9bad;
    font-size: 13px;
    border: 1px solid #f4f6f9;
    text-decoration: none;
    border-radius: 25px;
    padding: 6px 20px;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

#return-to-top i {
    font-size: 11px;
    vertical-align: middle;
    margin-right: 10px;
}

#return-to-top:hover {
    color: #335fbe;
    border-color: #335fbe;
}
.form-control-file{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
    /* color: #b4b2b2; */
    box-shadow: none;
}
.form-control:focus {
    border-color: #335fbe;
    outline: 0;
    box-shadow: none;
}
.form-select, .form-control{
    font-size: 14px;
}

.form-select:focus{
    border-color: #335fbe;
    outline: 0;
    box-shadow: none;
}
.modal-content{
    border-radius: 20px;
    animation-name: zoom;
    animation-duration: 0.5s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.guidelines{
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}
.guide-ul li{
    padding: 8px;
    font-size: 15px;
}
@media screen and (max-width: 700px) {
    .nav-one{
        padding: 12px;
    }
    .footer-inner {
        text-align: center;
    }
    .guidelines{
        display: none;
    }
}