.coverimg{
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}
.img-cover{
    position: relative;
}
.img-cover:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.cam-icon{
    font-size: 50px;
    color: #fff;
    margin-top: 70px;
}
.cam-div{
    display: flex;
    justify-content: center;
}